
/*-------------------------------------------------------------------------------*/
/*                     Shared header and main body styles                        */
/*-------------------------------------------------------------------------------*/

body {
    max-width: 1280px;
    justify-content: center;
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    margin: auto;
    padding-bottom: 20px;

    font-size: .8125rem;
 }

header {
    padding: 10px 20px 10px;    
}

.navbar {
    text-align: center;
    border: none;
    
    justify-content: center;
}

#welcomeLink {
    max-width: 100px;
    font-weight: 600;
}

#experienceLink {
    max-width: 100px;
    font-weight: 600;
}

#contactLink {
    max-width: 100px;
    font-weight: 600;
}

#portfolioLink {
    max-width: 100px;
    font-weight: 600;
}



#line {
    position: relative;
    top: -42px;
    z-index: -1;
}

.nav-item {
    background-color: white;
}

nav > a.active {
    text-decoration: underline;
}


/*-------------------------------------------------------------------------------*/
/*                              Welcome Page                                     */
/*-------------------------------------------------------------------------------*/

.welcome-flex-container {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start;
  }

  .welcome-flex-container > div {
    margin: 0px 20px;    
  }
  

  /* Image looks a bit nicer a smidgeon down from text block */
  .image {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .pic {
    width: 450px;
    object-fit: contain;
    align-self: center;
  }

  /* flex with a single value is flex-grow: 1; flex-basis: 0px */
  .main {
    flex: 1;
  }

  .logo {
       width: 20px;
       float: left;
  }

  .logofloat {
     position: relative;
    left: -10px;
     top: -10px;
  }

  .intro {
    margin-top: 0px;
  }

  #aboutme {
    min-width: 250px;
  }

  .social {
    
    margin-right: 10px;
}

#social .fab {
    font-size: 2em;
    color:lightgrey;
    background-color: transparent;
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
} 


  .logosmfloat {
    position: relative;
    left: -5px;
    top: -10px;
  }

  #social a, #portfolio a {
      text-decoration: none;
  }

 
  
/*-------------------------------------------------------------------------------*/
/*                              Experience Page                                 */
/*-------------------------------------------------------------------------------*/

section div.carousel-item img{
    width: 500px;
}

.compimage {
    width: 500px;
}

#mountainimage {
    height: 350px;
    padding-bottom: 20px;
}

section div.item h3{
    text-align: center;
}

.carousel-inner {
    text-align: center;
    
}

@media screen and (min-width: 992px) {
    .carousel-item {
        height: 650px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-item {
        height: 750px;
    }
}
@media screen and (max-width: 768px) {
    .carousel-item {
        height: 870px;
    }
}

.carousel .carousel-item > img {
    display: inline-block;
    text-align: center;
}

.expParagraph {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 150px;
    width: 70%;
    margin: auto;
    text-align: left;
}

.carousel-indicators [data-bs-target] {
    background-color: lightgray;
}

.carousel-indicators .active {
    background-color: red;
}


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}



/*-------------------------------------------------------------------------------*/
/*                              Portfolio Page                                   */
/*-------------------------------------------------------------------------------*/

#portfolio h4 {
    text-align: center;
}

#portfolio .fab, #portfolio .fas {
    font-size: 2em;
    color:#d9230f;
    background-color: transparent;
    margin-right: 10px;
}


 
/*-------------------------------------------------------------------------------*/
/*                                 Contact  Page                                     */
/*-------------------------------------------------------------------------------*/

  button {
      border: none;
      background-color: transparent;
  }

  #contactText {
      padding-left: 20px;
  }

  #contactMain {
      padding-left: 65px;
      padding-right: 20px;
      max-width: 800px;
  }

  #contactForm {
      padding-top: 10px;
  }

  .flexNameContainer {
    display: flex;
    align-items: stretch;
    width: 100%;
  }

  .flexNameContainer > div { 
      flex-grow: 1;
  }

  .flexNameContainer > :first-child {
     margin-right: 10px;
  }

  #contactFName {
      margin-right: 30px;
      min-width: 100px;
  }

  .wrap {
      display: inline;
  }

  #contactLName {
      min-width: 100px;
  }

   .floatClear {
     clear: both; 
  }

  main.contactMain input {
      background-color: #EAEAEA;
  }

  .contactFields {
      height: 40px;
      margin-bottom: 25px;
      background-color: #F5F5F5;
      border-color: #CFCFCF;
      border-style: solid;
      border-width: 1px;
      width: 100%;
  }

  .contactNameLabel {
      font-size: xx-small;
   }

  .contactNames {
      display: block;
      height: 40px;
      background-color: #F5F5F5;
      border-color: #CFCFCF;
      border-style: solid;
      border-width: 1px;
      width: 100%;
      
  }

  .contactEmailLabel {
      margin-top: 20px;
  }

  #contactEmail {
      min-width: 240px;
  }

  #contactSubject {
      min-width: 240px;
  }

  #contactMessage {
      min-width: 360px;
      margin-bottom: 20px;
      background-color: #F5F5F5;
      border-color: #CFCFCF;
      border-style: solid;
      border-width: 1px;
      width: 100%;
      
  }

  #contactsubmit {
      background-color: black;
      color: white;
      height: 40px;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 30px;
  }
  /*
  .contactNames {
    display: inline-block;
    width: 6em;
    position: relative;
    top: -3em;
  }

  .contactNameLabel {
      display: inline-block;
      width: 6em;
      margin-right: .5em;
      padding-top: 1.5em;
      font-size: xx-small;
   }
   */