.container {
    padding: 10px 20px;
 
    
}

.navbar {
    text-align: center;
}

body {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    margin: 5px;
}

a {
    padding: 8px;
}

.flex-container {
    display: flex;
    
  }
  
  .flex-container > div {
    margin: 20px;
    
  }

  .pic {
    width: 50%;
 
  }

  .intro {
      margin-top: 0px;
  }

  .social {
      height: 20px;
      width: 20px;
  }

  button {
      border: none;
      background-color: transparent;
  }